<!DOCTYPE html>
<html>
  <head>
       <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
      <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <!-- External CSS -->

    <!-- Core theme CSS (includes Bootstrap)-->
    {% load static %}
    <link href="{% static 'asset/css/main.css' %}" rel="stylesheet" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


    <title>{% block head_title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
      .form-group {
        margin-top: 10px;
      }


    #creator {
      border-radius: 15px 50px;
      background: #73AD21;
      padding: 20px;
      font-family:courier;
      text-align: justify;
      text-justify: inter-word;
      color: white;
      box-shadow: 10px 10px 5px lightblue;
}
#rcorners4 {
  border-radius: 15px 50px;
  border: 1px silver solid;
  padding: 20px;
   box-shadow: 10px 10px 5px lightblue;
}
    </style>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
  <div class="container">
      <div class="row">
            {% include 'account/navbar.html' %}
      </div>
      <br/><br/><br/>

      <div class="row">
      {% block body %}
        {% block content %}

        {% endblock %}
      {% endblock %}

    {% block extra_body %}
    {% endblock %}

 {% if messages %}
      <div class="p-2">
        {% for message in messages %}
          <div class="text-center border-bottom">{{message}}</div>
        {% endfor %}
      </div>
 {% endif %}

      </div>
  </div>
   {% block scripts %}

   {% endblock %}

     {% block scripts2 %}

   {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">



  </script>
  </body>
</html>