<h2 class="text-info">Click Per Month Result</h2>
<nav aria-label="...">
    <ul class="pagination">

        <li class="page-item m-2 "><a class="page-link" href="#">Jan</a></li>
        <li class="page-item m-2"><a class="page-link" href="#">Feb</a></li>
        <li class="page-item m-2"><a class="page-link" href="#">Mar</a></li>
        <li class="page-item m-2"><a class="page-link" href="#">Apr</a></li>
        <li class="page-item m-2"><a class="page-link" href="#">May</a></li>
        <li class="page-item m-2"><a class="page-link" href="{% url 'closedTicket'%}">Jun</a></li>
        <li class="page-item m-2"><a class="page-link" href="{% url 'july' %}">Jul</a></li>
        <li class="page-item m-2"><a class="page-link" href="{% url 'august' %}">Aug</a></li>
        <li class="page-item m-2"><a class="page-link" href="{% url 'september' %}">Sep</a></li>
        <li class="page-item m-2"><a class="page-link" href="{% url 'october' %}">Oct</a></li>
        <li class="page-item m-2"><a class="page-link" href="{% url 'november' %}">Nov</a></li>
        <li class="page-item m-2"><a class="page-link" href="{% url 'december' %}">Dec</a></li>


    </ul>
</nav>