{% extends 'account/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>

        <div class="col-sm-6 border">
           <h4 style="font-family:courier;
text-align: justify; text-justify: inter-word">
               I am developing this Ticketing System as my Portfolio for future use.
               Hoping this IT Ticketing System can help me to become a real web developer.
               API and REACT can be added soon, for more friendly usability.
           </h4>

        </div>

        <div class="col-sm-3">

        </div>
    </div>
</div>

{% endblock %}