{% extends 'account/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">

        </div>

        <div class="col-sm-6 border">
            <h2 >XYZ Company - IT Ticketing System</h2>
            <h5>Announcement On IT Schedule This Week:</h5>
            <ol>
                <li>Server Maintenance</li>
                <li>Window 10 Update</li>
            </ol>
            <small>Note: Always save your files and other important documents in your OneDrive.</small>

        </div>

        <div class="col-sm-3">

        </div>
    </div>
</div>

{% endblock %}