{% extends 'account/base.html' %}

{% block content %}

<style>
    #chat-messages{
        height: 400px;
        overflow-y: auto;
    }
</style>
<div class="container">
    <br/>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group list-group-flush">


                <li class="list-group-item"><strong>Category:</strong> {{sr.category}}</li>
                <li class="list-group-item"><strong>Status: </strong>{{sr.status}}</li>
                <li class="list-group-item"><strong>Deskside Engr.: </strong>{{sr.assigned}}</li>
                <li class="list-group-item"><strong>Last Updated: </strong>{{sr.updated | timesince}}</li>
                <li class="list-group-item"><strong>Date Created: </strong>{{sr.created | timesince}}</li>
                <li class="list-group-item"><strong>Ticket Discription: </strong>{{sr.description}}</li>
                <li class="list-group-item"><strong>Ticket Update: </strong>{{sr.update}}</li>
            </ul>
        </div>
        <div class="col-sm-6"> <h2 class="text-center">Ticket #: {{sr.tickets}}</h2>
            <div class="border p-3" id="chat-messages" style="max-height:100rem;">
            <h3>Message Output</h3>
                {% for m in message%}
                    <div class="card text-bg-primary" style="max-width: 23rem;">
                        <div class="card-header"><b>{{ m.user.username }}</b> &nbsp; - {{ m.created | timesince }} ago </div>
                              <div class="card-body">
                                <p class="card-text">{{m.chat}}</p>
                              </div>
                    </div><br/>

                {% endfor %}

            </div>
                <br/>
            <div>
                <form action="" class="flex" method="post">
                    {% csrf_token %}
                    <input class="btn btn-dark" id="chat-message-input" name="chat" placeholder="Leave your message here..."
                           type="text" style="height: 100px; width: 250px">
                    <button class="btn btn-info" id="chat-message-submit"
                    style="height: 0px; width: 10px" hidden>

                    </button>
                </form>
            </div>
        </div> <!-- End of div -->
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-sm-3">

        </div>

        <div class="col-sm-6">



    </div> <! -- End of div row on second row -->
</div>
{% endblock %}
{% block scripts2 %}
        {{ sr.pk|json_script:"json-roomname" }}
        {{ request.user.username|json_script:"json-username" }}

        <script>
            const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
            const userName = JSON.parse(document.getElementById('json-username').textContent);
            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + roomName
                + '/'
            );
            chatSocket.onclose = function(e) {
                console.log('onclose')
            }

            chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);

                            if (data.message) {
                                document.querySelector('#chat-messages').innerHTML += (
                                '<b>' + data.username + '</b>: ' + data.message + '<br>'

                                );
                            } else {
                                alert('The message was empty!')
                            }

                            scrollToBottom();
                        };

                        document.querySelector('#chat-message-input').focus();

                        document.querySelector('#chat-message-submit').onclick = function(e) {
                            e.preventDefault()

                            const messageInputDom = document.querySelector('#chat-message-input');
                            const message = messageInputDom.value;

                            console.log({
                                'message': message,
                                'username': userName,
                                'room': roomName,
                            })

                            chatSocket.send(JSON.stringify({
                                'message': message,
                                'username': userName,
                                'room': roomName
                            }));

                            messageInputDom.value = '';

                            return false
                        };

                        /**
                        * A function for finding the messages element, and scroll to the bottom of it.
                        */
                        function scrollToBottom() {
                            let objDiv = document.getElementById("chat-messages");
                            objDiv.scrollTop = objDiv.scrollHeight;
                        }

                        // Add this below the function to trigger the scroll on load.
                        scrollToBottom();

        </script>


{% endblock %}